---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { services } from '../../../data/services'
---

<BaseLayout title="Фотостудія Focus">

  <h1>Печать RU</h1>  




  
</BaseLayout>


